<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gestión de Proyectos</title>
</head>
<body>
<h1>Bienvenido</h1>
<a th:href="@{/tecnicos/registro}">Registrar técnico</a><br>
<a th:href="@{/proyectos/registro}">Registrar proyecto</a><br>
<a th:href="@{/tareas/registro}">Registrar tarea</a>
<a th:href="@{/tecnicos/lista}">Listar técnicos</a><br>
<a th:href="@{/proyectos/lista}">Listar proyectos</a><br>
<a th:href="@{/tareas/lista}">Listar tareas</a>
</body>
</html>