<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Proyectos</title>
</head>
<body>
<h1>Lista de Proyectos</h1>
<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Fecha de Inicio</th>
    <th>Fecha de Fin</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="proyecto : ${proyectos}">
    <td th:text="${proyecto.nombre}"></td>
    <td th:text="${proyecto.descripcion}"></td>
    <td th:text="${proyecto.fechaInicio}"></td>
    <td th:text="${proyecto.fechaFin}"></td>
    <td>
      <a th:href="@{/proyectos/editar/} + ${proyecto.id}">Editar</a>
      <a th:href="@{/proyectos/eliminar/} + ${proyecto.id}">Eliminar</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>